html {
  background: #f0f0f0 !important;
}

input:-webkit-autofill {
  border: 1px solid #2f2218;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #2f2518 inset;
}


input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-color: #fa8500;
}

input:focus,
input:hover {
  background: #2f2818 !important;
  border-color: #faa700 !important;
  outline: none;
}

.login-pf body {
  /* background: #f7f7f7 !important; */
  background-image: url(../img/cover.png);
  background-size: cover;
  /* background: radial-gradient(203.62% 141.42% at 0% 0%, #080C0F 0%, #005A96 100%); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-pf body:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 29, 3, 0.85);
}

/*IE compatibility*/
.pf-c-form-control {
  background: #2f2318;
  color: #ffffff;
  font-size: var(--pf-global--FontSize--sm);
  border: 1px solid #2f2518;
  height: 42px !important;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 12px;
}

.pf-c-form-control:autofill {
  background: #2f2218;
}

.pf-c-form-control[aria-invalid="true"] {
  background: rgba(255, 0, 0, 0.1);
  border: none;
}

.pf-c-alert.pf-m-inline {
  margin-bottom: 0.5rem; /* default - IE compatibility */
  margin-bottom: var(--pf-global--spacer--sm);
  padding: 0.25rem;
  padding: var(--pf-global--spacer--xs);
  border: solid #ededed;
  border: solid var(--pf-global--BorderColor--300);
  border-width: 1px;
  border-width: var(--pf-c-alert--m-inline--BorderTopWidth)
    var(--pf-c-alert--m-inline--BorderRightWidth)
    var(--pf-c-alert--m-inline--BorderBottomWidth)
    var(--pf-c-alert--m-inline--BorderLeftWidth);
  display: -ms-flexbox;
  display: grid;
  -ms-grid-columns: max-content 1fr max-content;
  grid-template-columns: max-content 1fr max-content;
  grid-template-columns: var(--pf-c-alert--grid-template-columns);
  grid-template-rows: 1fr auto;
  grid-template-rows: var(--pf-c-alert--grid-template-rows);
}

.pf-c-alert.pf-m-inline::before {
  position: absolute;
  top: -1px;
  top: var(--pf-c-alert--m-inline--before--Top);
  bottom: -1px;
  bottom: var(--pf-c-alert--m-inline--before--Bottom);
  left: 0;
  width: 3px;
  width: var(--pf-c-alert--m-inline--before--Width);
  content: "";
  background-color: #ffffff;
  background-color: var(--pf-global--BackgroundColor--100);
}

.pf-c-alert.pf-m-inline.pf-m-success::before {
  background-color: #92d400;
  background-color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-danger::before {
  background-color: #ff2c1a;
  background-color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-inline.pf-m-warning::before {
  background-color: #f0d000;
  background-color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-inline .pf-c-alert__icon {
  padding: 1rem 0.5rem 1rem 1rem;
  padding: var(--pf-c-alert--m-inline__icon--PaddingTop)
    var(--pf-c-alert--m-inline__icon--PaddingRight)
    var(--pf-c-alert--m-inline__icon--PaddingBottom)
    var(--pf-c-alert--m-inline__icon--PaddingLeft);
  font-size: 16px;
  font-size: var(--pf-c-alert--m-inline__icon--FontSize);
}

.pf-c-alert.pf-m-success .pf-c-alert__icon {
  color: #92d400;
  color: var(--pf-global--success-color--100);
}

.pf-c-alert.pf-m-success .pf-c-alert__title {
  color: #486b00;
  color: var(--pf-global--success-color--200);
}

.pf-c-alert.pf-m-danger .pf-c-alert__icon {
  color: #ff2a1a;
  color: var(--pf-global--danger-color--100);
}

.pf-c-alert.pf-m-danger .pf-c-alert__title {
  color: #ff0000;
  color: var(--pf-global--danger-color--200);
}

.pf-c-alert.pf-m-warning .pf-c-alert__icon {
  color: #f0ab00;
  color: var(--pf-global--warning-color--100);
}

.pf-c-alert.pf-m-warning .pf-c-alert__title {
  color: #795600;
  color: var(--pf-global--warning-color--200);
}

.pf-c-alert__title {
  font-size: 14px; /* default - IE compatibility */
  font-size: var(--pf-global--FontSize--sm);
  padding: 5px 8px;
  padding: var(--pf-c-alert__title--PaddingTop)
    var(--pf-c-alert__title--PaddingRight)
    var(--pf-c-alert__title--PaddingBottom)
    var(--pf-c-alert__title--PaddingLeft);
}

.pf-c-button {
  border-radius: 8px;
  padding: 1rem;
  height: 36px;
  padding: var(--pf-global--spacer--form-element) var(--pf-global--spacer--md);
}

/* default - IE compatibility */
.pf-m-primary {
  color: #ffffff;
  background-color: #cc6d00;
  background-color: var(--pf-global--primary-color--100);
}

/* default - IE compatibility */
.pf-m-primary:hover {
  background-color: #804000;
  background-color: var(--pf-global--primary-color--200);
}

/* default - IE compatibility */
.pf-c-button.pf-m-control {
  border: none;
  /* border: solid var(--pf-global--BorderWidth--sm); */
  /* border-color: rgba(230, 230, 230, 0.5); */
}
.pf-c-button.pf-m-control::after {
  /* border-radius: 8px; */
  border: none;
  font-family: system-ui;
}
/*End of IE compatibility*/
h1#kc-page-title {
  margin-top: 10px;
  font-weight: 700;
  color: #fa8e00;
  font-size: 17px;;
  margin: 0;
  display: none;
}
.kc-social-icon-text {
  font-family: system-ui !important;
}

#kc-locale ul {
  background-color: #fff;
  background-color: var(--pf-global--BackgroundColor--100);
  display: none;
  top: 20px;
  min-width: 100px;
  padding: 0;
}

#kc-locale:hover ul {
  display: block;
}

/* IE compatibility */
#kc-locale-dropdown a {
  color: #6a6e73;
  color: var(--pf-global--Color--200);
  text-align: right;
  font-size: 14px;
  font-size: var(--pf-global--FontSize--sm);
}

/* IE compatibility */
a#kc-current-locale-link::after {
  content: "\2c5";
  margin-left: 4px;
  margin-left: var(--pf-global--spacer--xs);
}

.login-pf .container {
  padding-top: 40px;
}

.login-pf a:hover {
  color: #d36a00;
}

#kc-logo {
  width: 100%;
}

#kc-logo-wrapper {
  /* background-image: url(../img/keycloak-logo-2.png); */
  background-repeat: no-repeat;
  height: 63px;
  width: 300px;
  margin: 62px auto 0;
}

div.kc-logo-text {
  display: block;
  margin: 0;
  padding-left: 44px;
  background-size: 100%;
  text-transform: lowercase;
  font-size: 30px;
  font-weight: 600;
  color: #424242;
  display: none;
  letter-spacing: -1px;
  /* background-image: url(../img/keycloak-logo-text.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 63px;
    width: 300px;
    margin: 0 auto; */
}

#kc-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#kc-header-wrapper {
  background-color: transparent;
  font-size: 29px;
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0;
  white-space: normal;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 186px;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 91px;
}

#kc-content {
  width: 100%;
  height: 100%;
}

#kc-attempted-username {
  font-size: 20px;
  font-family: inherit;
  font-weight: normal;
  padding-right: 10px;
}

#kc-username {
  text-align: center;
  margin-bottom: -10px;
}

#kc-webauthn-settings-form {
  padding-top: 8px;
}

#kc-content-wrapper {
  /* margin-top: 20px; */
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#kc-form-wrapper {
  margin-top: 10px;
}

#kc-info {
  margin: 20px -40px -30px;
}

#kc-info-wrapper {
  font-size: 13px;
  padding: 15px 35px;
}

#kc-form-options span {
  display: block;
}

#kc-form-options .checkbox {
  margin-top: 0;
  color: #72767b;
}

#kc-terms-text {
  margin-bottom: 20px;
}

#kc-registration {
  margin-bottom: 0;
}

/* TOTP */

.subtitle {
  text-align: right;
  margin-top: 30px;
  color: #909090;
}

.required {
  color: #ff0000; /* default - IE compatibility */
  color: var(--pf-global--danger-color--200);
}

ol#kc-totp-settings {
  margin: 0;
  padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
  max-width: 150px;
  max-height: 150px;
}

#kc-totp-secret-key {
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
  margin-top: 0;
}

#kc-oauth ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#kc-oauth ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
  border-top: 0;
}

#kc-oauth .kc-role {
  display: inline-block;
  width: 50%;
}

/* Code */
#kc-code textarea {
  width: 100%;
  height: 8em;
}

/* Social */
.kc-social-links {
  margin-top: 20px;
}

.kc-social-provider-logo {
  font-size: 23px;
  width: 30px;
  height: 25px;
  float: left;
}

.kc-social-gray {
  color: #737679; /* default - IE compatibility */
  color: var(--pf-global--Color--200);
}

.kc-social-item {
  margin-bottom: 0.5rem; /* default - IE compatibility */
  margin-bottom: var(--pf-global--spacer--sm);
  font-size: 15px;
  text-align: center;
}

.kc-social-provider-name {
  position: relative;
}

.kc-social-icon-text {
  left: -15px;
}

.kc-social-grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-column-end: span 6;
  --pf-l-grid__item--GridColumnEnd: span 6;
}

.kc-social-grid .kc-social-icon-text {
  left: -10px;
}

.kc-login-tooltip {
  position: relative;
  display: inline-block;
}

.kc-social-section {
  text-align: center;
}

.kc-social-section hr {
  margin-bottom: 10px;
}

.kc-login-tooltip .kc-tooltip-text {
  top: -3px;
  left: 160%;
  background-color: black;
  visibility: hidden;
  color: #fff;

  min-width: 130px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 5px;

  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Show tooltip */
.kc-login-tooltip:hover .kc-tooltip-text {
  visibility: visible;
  opacity: 0.7;
}

/* Arrow for tooltip */
.kc-login-tooltip .kc-tooltip-text::after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

@media (min-width: 768px) {
  #kc-container-wrapper {
    position: absolute;
    width: 100%;
  }

  .login-pf .container {
    padding-right: 80px;
  }

  #kc-locale {
    position: relative;
    text-align: right;
    z-index: 9999;
  }

}

@media (max-width: 767px) {
  .login-pf-page {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    /* display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important; */
  }
  .login-pf-page .card-pf {
    width: unset;
  }

  .login-pf-signup {
    display: none;
  }

  #kc-header {
    padding-left: 15px;
    padding-right: 15px;
    margin: 24px 0;
    float: none;
    text-align: left;
    color: #ffffff;
    overflow: visible;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  #kc-header-wrapper {
    font-size: 16px;
    font-weight: bold;
    color: #72767b;
    letter-spacing: 0;
  }
  
  #kc-form {
    float: none;
  }

  #kc-info-wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
  }

  .login-pf .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #kc-locale {
    position: absolute;
    width: 200px;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 9999;
  }

  #kc-logo-wrapper {
    background-size: 100px 21px;
    height: 21px;
    width: 100px;
    margin: 20px 0 0 20px;
  }
}

@media (min-height: 646px) {
  #kc-container-wrapper {
    bottom: 12%;
  }
}

@media (max-height: 645px) {
  #kc-container-wrapper {
    padding-top: 50px;
    top: 20%;
  }
}

.card-pf form.form-actions .btn {
  float: right;
  margin-left: 10px;
}

#kc-form-buttons {
  margin-top: 20px;
}

.login-pf-page .login-pf-brand {
  max-width: 360px;
  width: 40%;
}

/* Internet Explorer 11 compatibility workaround for select-authenticator screen */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .select-auth-box-parent {
    border-top: 1px solid #f0f0f0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
  }

  .select-auth-box-headline {
    font-size: 16px;
    color: #cc6d00;
    font-weight: bold;
  }

  .select-auth-box-desc {
    font-size: 14px;
  }

  .pf-l-stack {
    flex-basis: 100%;
  }
}
/* End of IE11 workaround for select-authenticator screen */

.select-auth-box-arrow {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.select-auth-box-icon {
  display: flex;
  flex: 0 0 2em;
  justify-content: center;
  margin-right: 1rem;
  margin-left: 3rem;
}

.select-auth-box-parent {
  border-top: 1px solid var(--pf-global--palette--black-200);
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.select-auth-box-parent:hover {
  background-color: #f7f8f8;
}

.select-auth-container {
  padding-bottom: 0px !important;
}

.select-auth-box-headline {
  font-size: var(--pf-global--FontSize--md);
  color: var(--pf-global--primary-color--100);
  font-weight: bold;
}

.select-auth-box-desc {
  font-size: var(--pf-global--FontSize--sm);
}



/*phone*/
@media (max-width: 767px) {
  .login-pf-page .card-pf {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    border-top: 0;
    box-shadow: 0 0;
  }

  .login-pf-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: unset !important;
  }

  .kc-social-grid {
    grid-column-end: 12;
    --pf-l-grid__item--GridColumnEnd: span 12;
  }

  .kc-social-grid .kc-social-icon-text {
    left: -15px;
  }
}

.login-pf-page {
  /* width: 50%; */
  padding: 0;
  width: 540px;
  /* min-width: 540px; */
  overflow: hidden;
  box-shadow: none;
  z-index: 1;
}

.login-pf-page-container {

  background: rgba(8,12,15,.5019607843);
  border-radius: 36px;
  border: 2.6px solid #4c4c2a;
  backdrop-filter: blur(5px);
}

.card-pf {
  background: transparent;
  padding: 0 24px 24px !important;
  box-shadow: none;
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
  margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
  border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
  width: 100%;
}
.form-group {
  margin-bottom: 12px !important;
}
#kc-form-login div.form-group,
#kc-register-form div.form-group,
#kc-update-profile-form div.form-group,
#kc-social-providers {
  max-width: 352px;
  margin: auto;
  position: relative;
}
#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
  margin-bottom: 0px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#kc-back {
  margin-top: 5px;
}
.checkbox label,
.radio label {
  font-weight: 600;
}
a,
a.active,
.login-pf a:hover,
a:hover {
  color: #fa8e00;
  font-weight: 600;
}

.pf-c-form__label-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.pf-c-button.pf-m-primary {
  background-color: #fac200;
  border-radius: 8px;
  height: 44px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.pf-c-alert.pf-m-danger.pf-m-inline {
  overflow: hidden;
  border-radius: 8px;
}
.pf-c-alert.pf-m-inline.pf-m-danger::before {
  background-color: #ff2600 !important;
}

.fa-fw,
.pf-c-alert.pf-m-danger .pf-c-alert__title {
  color: #ff2600;
}
.kc-social-section h4 {
  font-size: 13px;
  position: absolute;
  top: -17px;
  left: calc(50% - 40px);
  width: 80px;
  background: white;
}

@media only screen and (min-width: 768px) {
  .login-pf-page .login-pf-page-header {
    padding-top: 48px;
    margin-bottom: 0;
  }
}

.pf-c-login__main-footer-links {
  flex-direction: row;
  gap: 36px;
}
.pf-c-login__main-footer-links a {
  width: 60px !important;
  min-width: 60px;
  height: 60px;
  padding: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  gap: 0;
}

.pf-c-button.pf-m-control i.fa.fa-facebook {
  color: #fff;
  background: linear-gradient(to right bottom, #ea9948, #ca8122);
  font-size: 36px;
}

.pf-c-button.pf-m-control i.fa.fa-google {
  font-size: 48px;
  color: #f04359;
}

.pf-c-button.pf-m-control i.fa.fa-apple {
  font-size: 48px;
  /*color: #f04359;*/
}

.kc-social-provider-logo {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}